  body {
    text-align: center;
    background-color: rgb(245, 240, 228);
  }

  img {
    width: 150px;
    height: 150px;
    border-radius: 75px; 
    margin: 50px;
    border: 2px solid rgb(24, 20, 20);
  }

  #blocco {
    background-color:rgb(162, 238, 228);
    font-weight: bold;
    margin: -120px auto 10px auto;
    border-radius: 5px;
    border: 2px solid rgb(24, 20, 20);
    box-shadow: 2px 2px ;
  }

  li {
    list-style: none;
    width: 400px;
    height: 250px;
    font-size: 24px;
    padding: 0px 20px 0px 20px;
  }
  
  
  h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 22px;
    color: rgb(31, 116, 196);
    padding: 60px 0px 10px 0px;

  }

  p {
    font-family: 'Dosis', sans-serif;
    color: rgb(44, 43, 37);
  }

  a {
    color:rgb(182, 31, 196);
    text-decoration: none;
  }

  a:hover {
    color:rgb(31, 116, 196);
    text-decoration: nome;
  }


