h1 {
    font-family: sans-serif;
    text-align: center;
    color: rgb(31, 116, 196);
  }
  p {
    font-family: cursive, Helvetica, sans-serif;
    color: rgb(196, 171, 31);
  }

  a{
    color:rgb(182, 31, 196);
    text-decoration: none;
  }

  a:hover{
    color:rgb(31, 116, 196);
    text-decoration: underline;
  }