h1 {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    color: rgb(31, 116, 196);
  }
  p {
    font-family: 'Dosis', sans-serif;
    color: rgb(44, 43, 37);
    text-align: center;
  }

  a{
    color:rgb(182, 31, 196);
    text-decoration: none;
  }

  a:hover{
    color:rgb(31, 116, 196);
    text-decoration: underline;
  }

  #mattarella{
    color: red;
    font-weight: bold;
  }